#board {
  margin-top: 10px;
}

.box {
  border: 1px solid grey;
  height: 150px;
  font-size: 500%;
  text-align: center;
  line-height: 150px;
}

p {
  font-size: 50px;
  color: grey;
}

span {
  color: pink;
}

#one{

}

#two{

}

#three{

}

#four{

}

#five{

}

#six{

}

#seven{

}

#eight{

}

#nine{

}
